<a href="https://colab.research.google.com/github/deepakshekhawat1209/SQL_Data_extractor/blob/main/SQL_Data_extractor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
sqldata = """
| AD_PRES    | President                       |      20000 |      40000 |
| AD_VP      | Administration Vice President   |      15000 |      30000 |
| AD_ASST    | Administration Assistant        |       3000 |       6000 |
| FI_MGR     | Finance Manager                 |       8200 |      16000 |
| FI_ACCOUNT | Accountant                      |       4200 |       9000 |
| AC_MGR     | Accounting Manager              |       8200 |      16000 |
| AC_ACCOUNT | Public Accountant               |       4200 |       9000 |
| SA_MAN     | Sales Manager                   |      10000 |      20000 |
| SA_REP     | Sales Representative            |       6000 |      12000 |
| PU_MAN     | Purchasing Manager              |       8000 |      15000 |
| PU_CLERK   | Purchasing Clerk                |       2500 |       5500 |
| ST_MAN     | Stock Manager                   |       5500 |       8500 |
| ST_CLERK   | Stock Clerk                     |       2000 |       5000 |
| SH_CLERK   | Shipping Clerk                  |       2500 |       5500 |
| IT_PROG    | Programmer                      |       4000 |      10000 |
| MK_MAN     | Marketing Manager               |       9000 |      15000 |
| MK_REP     | Marketing Representative        |       4000 |       9000 |
| HR_REP     | Human Resources Representative  |       4000 |       9000 |
| PR_REP     | Public Relations Representative |       4500 |      10500 |
"""

In [25]:
def extractor(data:str):
  # setting word count to go to the next line after certain number of words
  count_word=0
  col=4
  output="("
  for word in data.split("|"):
    # stripping all the unwanted space from the content
    word=word.strip()
    if count_word<col:
      # double check to remove any empty strings
      if word=='':
        continue
        # if the string is a number then we append the string without any quotations
      try:
        output=f"{output}{float(word)},"
      except:
        output=f"{output}'{word}',"
      count_word+=1
    else:
      # if the word count reaches the number of words in the line we move to the next entry
      output=f"{output[:-1]}),\n("
      count_word=0
      # [:-3] to remove the last comma from the output
  print(str(output[:-3]))
if __name__ == "__main__":
    extractor(sqldata)

('AD_PRES','President',20000.0,40000.0),
('AD_VP','Administration Vice President',15000.0,30000.0),
('AD_ASST','Administration Assistant',3000.0,6000.0),
('FI_MGR','Finance Manager',8200.0,16000.0),
('FI_ACCOUNT','Accountant',4200.0,9000.0),
('AC_MGR','Accounting Manager',8200.0,16000.0),
('AC_ACCOUNT','Public Accountant',4200.0,9000.0),
('SA_MAN','Sales Manager',10000.0,20000.0),
('SA_REP','Sales Representative',6000.0,12000.0),
('PU_MAN','Purchasing Manager',8000.0,15000.0),
('PU_CLERK','Purchasing Clerk',2500.0,5500.0),
('ST_MAN','Stock Manager',5500.0,8500.0),
('ST_CLERK','Stock Clerk',2000.0,5000.0),
('SH_CLERK','Shipping Clerk',2500.0,5500.0),
('IT_PROG','Programmer',4000.0,10000.0),
('MK_MAN','Marketing Manager',9000.0,15000.0),
('MK_REP','Marketing Representative',4000.0,9000.0),
('HR_REP','Human Resources Representative',4000.0,9000.0),
('PR_REP','Public Relations Representative',4500.0,10500.0)